[submodule "NativeFileDialog/src"]
	path = NativeFileDialog/src
	url = https://github.com/mlabbe/nativefiledialog.git
[submodule "BurstLinker/src"]
	path = BurstLinker/src
	url = https://github.com/Xrysnow/BurstLinker.git
[submodule "cLaTeXMath/src"]
	path = cLaTeXMath/src
	url = https://github.com/NanoMichael/cLaTeXMath.git
[submodule "nanosvg"]
	path = nanosvg
	url = https://github.com/memononen/nanosvg.git
[submodule "libzippp/src"]
	path = libzippp/src
	url = https://github.com/ctabin/libzippp.git
[submodule "FairyGUI/src"]
	path = FairyGUI/src
	url = https://github.com/fairygui/FairyGUI-cocos2dx.git
[submodule "OggDecoder/src/ogg"]
	path = OggDecoder/src/ogg
	url = https://gitlab.xiph.org/xiph/ogg
[submodule "OggDecoder/src/vorbis"]
	path = OggDecoder/src/vorbis
	url = https://gitlab.xiph.org/xiph/vorbis
[submodule "OpenalSoft/src"]
	path = OpenalSoft/src
	url = https://github.com/kcat/openal-soft
[submodule "ffmpeg/src"]
	path = ffmpeg/src
	url = https://github.com/wang-bin/avbuild
[submodule "libzippp/libzip/src"]
	path = libzippp/libzip/src
	url = https://github.com/nih-at/libzip
